<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Title</title>
</head>
<body class="bg-image" style="background-image: url('/images/img.png'); background-attachment: fixed; background-size: cover ">
<div  th:replace="snippets/header"></div>
<div class="container">
<div class="row">
<div class="card text-bg-secondary m-5 p-5 col-auto border border-black rounded" style="width: 45rem; ">

    <div class="card-body">

        <div class="container" align="center">
            <img th:src="@{/images/new.png}" style="width: 100px" class="card-img-top m-2" alt="...">
<!--            <form action="/ajouterOnce" method="post">-->
<!--                <div class="mb-3">-->
<!--                    <label for="description" class="form-label">Title</label>-->
<!--                    <input type="text" class="form-control w-50" id="description" name="description">-->
<!--                    <span class="text-danger"  th:errors="${product.description}"></span>-->
<!--                </div>-->

<!--                <div class="mb-3">-->
<!--                    <label for="price" class="form-label">Price</label>-->
<!--                    <input type="text" class="form-control w-50" id="price" name="price">-->
<!--                    <span class="text-danger" th:errors="${product.price}"></span>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary form-control w-50" value="Ajouter">Ajouter</button>-->
<!--            </form>-->
            <form th:action="@{/ajouterOnce}"  method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="description" class="form-label">Title</label>
                    <input type="text" class="form-control w-50" id="description" name="description">
                    <span class="text-danger" th:errors="${product.description}"></span>
                    <span class="text-danger"  ></span>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select w-50" id="category" name="category">
                        <option value="">Select a category</option>
                        <!-- Iterate over your list of categories to generate options -->
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}"></option>
                        <span class="text-danger" th:errors="${product.category}"></span>
                    </select>
<!--                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addcategory"><i class="bi bi-plus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">-->
<!--                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>-->
<!--                        </svg></i></button>-->

<!--                    <div class="modal fade" id="addcategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                        <div class="modal-dialog">-->
<!--                            <form action="/ajouterOnceCateg" method="post">-->
<!--                                <label for="title" class="form-label">Title</label>-->
<!--                                <input type="text" class="form-control w-50" id="title" name="title">-->

<!--                                <span class="text-danger"  ></span>-->
<!--                            </form>-->

<!--                                <div class="modal-footer">-->
<!--                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                                    <button type="submit" class="btn btn-primary form-control w-50" value="Ajouter">Ajouter</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>

                <div class="mb-3">
                    <label for="vendor" class="form-label">Vendor</label>
                    <select class="form-select w-50" id="vendor" name="vendor">
                        <option value="">Select a Vendor</option>
                        <!-- Iterate over your list of categories to generate options -->
                        <option th:each="vendor : ${vendors}" th:value="${vendor.id}" th:text="${vendor.title}"></option>
                        <span class="text-danger" th:errors="${product.vendor}"></span>
                    </select></div>
<!--                    <select class="form-select w-50" id="category" name="categ">-->
<!--                        <option value="">Select Category</option>-->
<!--                        &lt;!&ndash; Iterate over categories and generate options &ndash;&gt;-->
<!--                        <option th:each="category : ${categories}"  th:text="${category.Title}"></option>-->
<!--                    </select>-->
                    <!-- Add any validation messages for category selection if necessary -->

                <div class="mb-3">
                    <label  class="form-label">Image</label>
                    <input type="file" class="form-control" name="file">





                    <!-- Add any validation messages for image upload if necessary -->
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control w-50" id="price" name="price">
                    <span class="text-danger" th:errors="${product.price}"></span>
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">quantite</label>
                    <input type="number" class="form-control w-50" id="quantity" name="quantity">
                    <span class="text-danger" th:errors="${product.quantity}"></span>
                </div>
                <button type="submit" class="btn btn-primary form-control w-50" value="Ajouter">Ajouter</button>
            </form>
        </div>

    </div>

</div>
    <div class="card col-auto text-bg-secondary  m-5 p-5 text-center border border-black rounded" style=" height: 8rem">
    <div class="card-body ">
        <h5>create your product here</h5>
    </div>
</div>
</div></div>
<div th:replace="snippets/footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>