<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Baskets</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Order Baskets</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Product</th>
            <th>User</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderBasket : ${orderBaskets}">
            <td th:text="${orderBasket.product.description}"></td>
            <td th:text="${orderBasket.user.username}"></td>
            <td th:text="${orderBasket.quantity}"></td>
        </tr>
        </tbody>
    </table>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
